html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #fff;
}

#gameContainer {}

#unity-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
}


.main {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  /* width: 403px;
  height: 403px;  */

  width: 41.10vh;
  height: 41.10vh;

  /* box-shadow: -15px 3px 30px 0 rgba(242, 161, 140, 0.27); */
  z-index: 1;
}

.progress {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46.88vw;
  height: 5.56vh;
  margin: 0.94vw 0 35px;
  padding: 1.1vh 0.57vw 1.1vh 0.57vw;
  border-radius: 30px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #f9f9f9;

  /* margin: 1.5em;
  border: 1px solid #fff;
  width: 50vw;
  display: block; */
}

.progress .fill {
  width: 100%;
  height: 3.33vh;
  border-radius: 18px;
  /* background-image: linear-gradient(to left, #fda58f, #f59189); */
  background-image: linear-gradient(to left, #000000, #000000);
}

.progress .fillAmount {
  width: 980px;


  position: relative;
  left: 50%;
  top: 3.25vh;
  transform: translate(-50%, 0%);
  /* margin: 35px 401px 80px; */
  font-family: Pretendard;
  font-size: 2.2vw;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f9f9f9;
}

/* .progress .full {
  margin: 2px;
  background: #fff;
  height: 1em;
  -webkit-transform-origin: top left;
  transform-origin: top left;
} */

#loader {
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  /* background-image: radial-gradient(circle at 50% 50%, #fda58f, #f59189 87%); */
}

#radial {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at 48% 53%, rgba(243, 235, 224, 0.7), rgba(245, 145, 137, 0) 41%);
}



.loading {
  position: absolute;
  display: inline-block;
  width: 100vw;
  top: 27.8vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Pretendard;
  font-size: 3.125vw;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f9f9f9;
  white-space: pre-wrap;
}

.loadingText {
  position: absolute;
  display: inline-block;
  width: 100vw;
  top: 5.0vw;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Pretendard;
  font-size: 1.25vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f9f9f9;
  white-space: pre-wrap;
}


#loadingPercentage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
